<?php

use Illuminate\Database\Seeder;

class DatabaseSeeder extends Seeder
{
    /**
     * Run the database seeds.
     */
    public function run()
    {
        app('cache')->flush();
        app('files')->delete(config('simpleMenu.routeListPath'));

        $this->call(PagesTableSeeder::class);
        $this->call(MenusTableSeeder::class);
        $this->call(MenuPagesTableSeeder::class);
        $this->call(RolePermSeeder::class);
    }
}
