/node_modules
/public/hot
/public/storage
/public/images
/public/assets
/public/js
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.lock
.DS_STORE
.history
/resources/assets/vendor
/resources/views/vendor
